<section class="bg-light p-5 mb-3">
  <h5>Personal <small class="text-muted"><em>
    Frontend Developer</em></small></h5>
  <p class="small">November 2017 - Current</p>
  <p class="mb-0">During this period I worked on multiple projects utilising
    AngularJS, JavaScript, HTML5 & SASS. I also had some time off, however I'm
    still a passionate developer and continue to work on personal projects.</p>
</section>

<section class="bg-light p-5 mb-3">
  <h5>DRWD <small class="text-muted"><em>Frontend Developer</em></small></h5>
  <p class="small">May 2015 - July 2017</p>
  <p class="mb-0">Worked on multiple projects utilising AngularJS, JavaScript,
    HTML5 & SASS.</p>
</section>

<section class="bg-light p-5 mb-3">
  <h5>Low Cost Holidays <small class="text-muted"><em>
    Software Developer</em></small></h5>
  <p class="small">September 2014 - April 2015</p>
  <p class="mb-0">Development of reusable components, implementation of provided
    designs and managed data obtained through a custom API.</p>
</section>

<section class="bg-light p-5 mb-3">
  <h5>Filofax <small class="text-muted"><em>Magento Developer</em></small></h5>
  <p class="small">March 2014 - August 2014</p>
  <p class="mb-0">Development and management of a custom Magento Enterprise
    instance with multiple websites and stores.</p>
</section>
