<section class="container py-5">
  <h2 class="d-none">Projects</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="/assets/images/hp-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Qual - HP</h5>
          <p class="card-text">
            A large Magento instance utilising product data obtained from the
            <a href="https://icecat.co.uk/" target="_blank">IceCat</a>
            product catalog. Utilised Magento Store Manager.
          </p>
          <button type="button" class="btn btn-link mt-auto align-self-start"
                  data-bs-toggle="modal" data-bs-target="#qual-hp">View Website</button>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="/assets/images/fujitsu-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Qual - Fujitsu</h5>
          <p class="card-text">
            Another large Magento instance utilising product data obtained from the
            <a href="https://icecat.co.uk/" target="_blank">IceCat</a>
            product catalog.
          </p>
          <button type="button" class="btn btn-link mt-auto align-self-start"
                  data-bs-toggle="modal" data-bs-target="#qual-fujitsu">View
            Website</button>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="/assets/images/lch-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Low Cost Holidays</h5>
          <p class="card-text">A bespoke development worked on as part of a
            large team. Utilising AngularJS, JavaScript, HTML5, SASS & jQuery.</p>
          <button
              type="button"
              class="btn btn-link mt-auto align-self-start"
              data-bs-toggle="modal"
              data-bs-target="#lch">View Website</button>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="/assets/images/filofax-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Filofax</h5>
          <p class="card-text">Development of a product configurator, bug fixes,
            translations and provided training to distributors in France and Italy.</p>
          <button
              type="button"
              class="btn btn-link mt-auto align-self-start"
              data-bs-toggle="modal"
              data-bs-target="#filofax">View Website</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="qual-hp" tabindex="-1" aria-labelledby="qual-hp-label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qual-hp-label">Qual - HP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img class="img-fluid" src="/assets/images/qual-hp.jpg" alt="..." width="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="qual-fujitsu" tabindex="-1"
     aria-labelledby="qual-fujitsu-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qual-fujitsu-label">Qual - Fujitsu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img class="img-fluid" src="/assets/images/qual-fujitsu.jpg" alt="..."
             width="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lch" tabindex="-1" aria-labelledby="lch-label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lch-label">Low Cost Holidays</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img class="img-fluid" src="/assets/images/lch.jpg" alt="..." width="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filofax" tabindex="-1"
     aria-labelledby="filofax-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filofax-label">Filofax</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img class="img-fluid" src="/assets/images/filofax.jpg" alt="..." width="100%">
      </div>
    </div>
  </div>
</div>
