<section class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <dl class="row mb-5">
        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">Horsham, West Sussex</dd>

        <dt class="col-sm-3">Telephone</dt>
        <dd class="col-sm-9"><a href="tel:07399472606">07399472606</a></dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"><a href="mailto:opn.rivers@gmail.com">opn.rivers@gmail.com</a></dd>
      </dl>

      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary text-white mb-3">Submit</button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40114.74933190433!2d-0.35522846035884226!3d51.06837796861625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875930bdbd6edbf%3A0xd07b2d1bec20416b!2sHorsham!5e0!3m2!1sen!2suk!4v1626832078159!5m2!1sen!2suk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</section>
