<section class="container">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-3 col-xl-2">
      <div class="dropdown mb-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Download CV
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="documents/daniel-rivers.docx" download>Microsoft Word (.docx)</a></li>
          <li><a class="dropdown-item" href="documents/daniel-rivers.pdf" download>PDF document (.pdf)</a></li>
        </ul>
      </div>
    </div>
    <article class="col-12 col-sm-8 col-md-9 col-lg-7 col-xl-6">
      <h4 class="text-info">Experience</h4>

      <section class="bg-light p-5 mb-3">
        <h5>Personal <small class="text-muted"><em>
          Frontend Developer</em></small></h5>
        <p class="small">November 2017 - February 2019</p>
        <p class="mb-0">Worked on multiple projects utilising JavaScript, HTML5, SASS and
          AngularJS.</p>
      </section>

      <section class="bg-light p-5 mb-3">
        <h5>DRWD <small class="text-muted"><em>
          Frontend Developer</em></small></h5>
        <p class="small">May 2015 - July 2017</p>
        <p class="mb-0">Worked on multiple projects utilising JavaScript, HTML5, SASS and
          AngularJS.</p>
      </section>

      <section class="bg-light p-5 mb-3">
        <h5>Low Cost Holidays <small class="text-muted"><em>
          Software Developer</em></small></h5>
        <p class="small">September 2014 - April 2015</p>
        <p class="mb-0">Development of reusable components, implementation of provided designs
          and managed data obtained through a custom API.</p>
      </section>

      <section class="bg-light p-5 mb-3">
        <h5>Filofax <small class="text-muted"><em>
          Magento Developer</em></small></h5>
        <p class="small">March 2014 - August 2014</p>
        <p class="mb-0">Development and management of a custom Magento Enterprise instance
          with multiple websites and stores.</p>
      </section>

      <section class="bg-light p-5 mb-3">
        <h5>Pen Warehouse <small class="text-muted"><em>
          Magento Developer</em></small></h5>
        <p class="small">June 2013 to February 2014</p>
        <p class="mb-0">Development and product data management for a promotional gifts
          supplier.</p>
      </section>

      <section class="bg-light p-5 mb-3">
        <h5>Qual <small class="text-muted"><em>
          Web Developer</em></small></h5>
        <p class="small">March 2012 to February 2013</p>
        <p class="mb-0">Development and management of 20 micro-sites and 4 Magento stores.</p>
      </section>
    </article>
    <div class="col-12 col-md-3 col-lg-2 col-xl-3 offset-sm-4 offset-lg-0 p-5 p-md-0 p-lg-0">
      <h4 class="text-info">Skills</h4>
      <ul class="list-unstyled">
        <li><strong>JavaScript / ES6+</strong></li>
        <li><strong>HTML5</strong></li>
        <li><strong>SASS</strong></li>
        <li><strong>Bootstrap</strong></li>
        <li><strong>Git</strong></li>
        <li><strong>ESLint</strong></li>
        <li><strong>Gulp</strong></li>
      </ul>
    </div>
  </div>
</section>
