// Color system
$blue: #22337d !default;
$yellow: #f8c832 !default;
$cyan: #90b4dc !default;

$primary: $blue !default;
$secondary: $yellow !default;

// Links
$link-color: $blue !default;
$link-decoration: null !default;
$link-hover-decoration: underline !default;

// Typography
$font-family-sans-serif: 'Ubuntu', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$headings-font-weight: $font-weight-bold !default;
$display-font-weight: $font-weight-light !default;

// Buttons
$btn-font-weight: $font-weight-bold !default;

// Navbar
$navbar-toggler-focus-width: 0 !default;

// Cards
$card-border-width: 0 !default;
$card-border-radius: 0 !default;

// Modals
$modal-content-border-width: 0 !default;
$modal-content-border-radius: 0 !default;
$modal-footer-border-width: 0 !default;
$modal-transition: transform .1s ease-out !default;
