<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>Daniel Rivers - {{title}}</title>
  <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>
  <link rel="stylesheet" href="css/main.css"/>
</head>

<body>
{{> under-development }}
{{> nav }}
{{{content}}}
{{> footer }}

<script src="js/main.js"></script>
</body>
</html>
